---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from '../components/BlogPost.astro';


const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));

const pageTitle = "我的 Astro 学习博客";
---




<BaseLayout pageTitle={pageTitle}>
    <p>这是我的 Astro 学习笔记</p>
    <ul>
    {allPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
    <h3>以下使用组件版</h3>
        {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}

    </ul>
</BaseLayout>